<header class="app-header">
  <div class="logo-title">
  <div class="logo">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSUDKnY9bQ0fsofI8iXnUhnWO3t1bF2JkdCzw&usqp=CAU">
  </div>
    <div class="title">
      <h1>Health Care</h1>
    </div>
  </div>
  <div class="social-icons">
    <a href="#"><i class="fab fa-facebook-f"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin-in"></i></a>
  </div>
  
  </header>
  