<div class="doctor-list">
  <h2>Doctors List</h2>
  <table class="styled-table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Specialty</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let doctor of doctors">
        <td>{{ doctor.name }}</td>
        <td>{{doctor.specialty}}</td>
        <td>
          <button (click)="editDoctor(doctor.id)">Edit</button>&nbsp;&nbsp;
          <button (click)="deleteDoctor(doctor)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
