
body {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
  }
  
.main-content-container {
  background-color: #e0e9f332; /* Background color for the box */
  border: 0px solid #ccc; /* Border for the box */
  border-radius: 5px; /* Rounded corners */
  padding: 20px; /* Spacing inside the box */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Box shadow for a subtle effect */
  text-align: center; /* Center-align the content */
  margin: 0 auto; /* Center the box horizontally on the page */
  width: 1250px;
  flex-grow: 1;
  padding: 20px; 
  margin-left: 230px; 
  height: 550px;
  margin-top: 90px;
}

/* Define your color variables */
:root {
  --primary-color: #007BFF;
  --secondary-color: #5bc0de;
  --accent-color: #FF6600;
  /* Add more colors as needed */
}
